.fcc-btn {
    background-color: #e1e4e293;
    color: hsl(0, 0%, 0%);
    padding: 20px 153px;
    text-decoration: none;
    text-align: center;
    
    font-size: x-large;
    font-variant:small-caps;
    font-family:monospace
    
}